<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Cuidar no lar é a solução mais adecuada a si!</h2>
        <!--p class="lead">Sempre ao seu dispor com os melhores serviços <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p-->
        <p class="lead">Sempre ao seu dispor com os melhores serviços.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
