<section id="about" class="quemsomos">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Quem Somos</h2>
          <hr class="small blue">
        <!--p class="lead">Sempre ao seu dispor com os melhores serviços <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p-->
        <p class="lead">A nossa empresa surge para fazer face às dificuldades que os utentes e suas famílias encontram em manter uma continuidade de cuidados de saúde no domicilio, quer seja após uma doença aguda, quer em situações que por vezes se revelam mais prolongadas. Enquanto profissionais de saúde identificámos que, frequentemente, os cuidados que se iniciam numa Instituição são interrompidos no domicílio por diversos motivos, sejam eles de origem logística ou social. Com a identificação destas necessidades, nasce o nosso projecto que visa levar até junto do utente a prestação de cuidados sem que o mesmo saía do conforto do seu lar e ambiente familiar e social.</p>        
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
