<section id="goals" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Objetivos</h2>
        <hr class="small blue">
        <!--p class="lead">Sempre ao seu dispor com os melhores serviços <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p-->
        <p class="lead">
          <ul class="lead fa-ul" style="width:300px;margin:0 auto;text-align:left">
            <li><i class="fa fa-check-square-o navigation-icon" aria-hidden="true" style="margin-left:5px"></i><span>Prestar cuidados domiciliários diferenciados aos nossos utentes.</span></li>
            <li><i class="fa fa-check-square-o navigation-icon" aria-hidden="true" style="margin-left:5px"></i><span>Contribuir para retardar ou evitar a Institucionalização dos utentes.</span></li>
            <li><i class="fa fa-check-square-o navigation-icon" aria-hidden="true" style="margin-left:5px"></i><span>Proporcionar aos nossos utentes uma solução individualizada e

ajustada às suas necessidades.</span></li>
          </ul>
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>