<section id="mission" class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Missão</h2>
        <hr class="small blue">
        <!--p class="lead">Sempre ao seu dispor com os melhores serviços <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p-->
        <p class="lead">Proporcionar bem-estar, conforto e qualidade de vidas aos nossos utentes e suas famílias.</p>        
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
