<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); > <img class="brand-image navigation-icon" src="img/logonav.png"/>Cuidar no lar</a>
    </li>
    <li>
      <a href="#top" onclick = $("#menu-close").click(); ><i class="fa fa-home navigation-icon"  aria-hidden="true"></i>Menu</a>
    </li>
    <li>
      <a href="#about" onclick = $("#menu-close").click(); ><i class="fa fa-user-md navigation-icon"  aria-hidden="true"></i>Quem somos</a>
    </li>
     <li>
      <a href="#mission" onclick = $("#menu-close").click(); ><i class="fa fa-heart navigation-icon"  aria-hidden="true"></i>Missão</a>
    </li>
     <li>
      <a href="#goals" onclick = $("#menu-close").click(); ><i class="fa fa-heartbeat navigation-icon" aria-hidden="true"></i>Objetivos</a>
    </li>
       <li>
      <a href="#services" onclick = $("#menu-close").click(); ><i class="fa fa-medkit navigation-icon"  aria-hidden="true"></i>Serviços</a>
    </li>
    <li>
      <a href="#partners" onclick = $("#menu-close").click(); ><i class="fa fa-user-plus navigation-icon"  aria-hidden="true"></i>As Parcerias</a>
    </li>
     <li>
      <a href="#team" onclick = $("#menu-close").click(); ><i class="fa fa-users navigation-icon"  aria-hidden="true"></i>A Equipa</a>
    </li>
    
    <!--li>
      <a href="#services" onclick = $("#menu-close").click(); >Serviços</a>
    </li-->
    <!--li>
      <a href="#portfolio" onclick = $("#menu-close").click(); >Portfolio</a>
    </li-->
    <li>
      <a href="#footer" onclick = $("#menu-close").click(); ><i class="fa fa-envelope navigation-icon"  aria-hidden="true"></i>Contactos</a>
    </li>
  </ul>
</nav>
