<section id="services" class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Serviços</h2>
        <hr class="small blue">
        <p class="lead"> Disponibilizamos aos nossos utentes um vasto leque de serviços ao domicílio:

          <div class="col-md-4 col-sm-4">
            <div class="service-item">
              <h4>
                <strong>Serviços de Saúde</strong>
              </h4>
              <p>
                <ul class="lead fa-ul" style="width:400px;margin:0 auto;text-align:left">
                  <li><i class="fa fa-check-square-o navigation-icon" aria-hidden="true" style="margin-left:5px"></i><span>Enfermagem</span></li>
                  <li><i class="fa fa-check-square-o navigation-icon" aria-hidden="true" style="margin-left:5px"></i><span>Ensinos ao utente e suas famílias</span></li>
                  <li><i class="fa fa-check-square-o navigation-icon" aria-hidden="true" style="margin-left:5px"></i><span>Consultas médicas</span></li>
                  <li><i class="fa fa-check-square-o navigation-icon" aria-hidden="true" style="margin-left:5px"></i><span>Colheita de análises</span></li>
                  <li><i class="fa fa-check-square-o navigation-icon" aria-hidden="true" style="margin-left:5px"></i><span>Medicação</span></li>
                  <li><i class="fa fa-check-square-o navigation-icon" aria-hidden="true" style="margin-left:5px"></i><span>Vigilância de utentes no pós operatório</span></li>
                  <li><i class="fa fa-check-square-o navigation-icon" aria-hidden="true" style="margin-left:5px"></i><span>Aluguer de equipamentos hospitalares e ajudas técnicas</span></li>
                </ul>
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="service-item">
              <h4>
                <strong>Serviços de Bem estar</strong>
              </h4>
              <p>
                <ul class="lead fa-ul" style="width:400px;margin:0 auto;text-align:left">
                  <li><i class="fa fa-check-square-o navigation-icon" aria-hidden="true" style="margin-left:5px"></i><span>Cuidados de higiene e conforto</span></li>
                  <li><i class="fa fa-check-square-o navigation-icon" aria-hidden="true" style="margin-left:5px"></i><span>Acompanhamento pessoal</span></li>
                  <li><i class="fa fa-check-square-o navigation-icon" aria-hidden="true" style="margin-left:5px"></i><span>Acompanhamento a consultas</span></li>
                  <li><i class="fa fa-check-square-o navigation-icon" aria-hidden="true" style="margin-left:5px"></i><span>Acompanhamento ao exterior</span></li>
                </ul>
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="service-item">
              <h4>
                <strong>Serviços de Apoio</strong>
              </h4>
              <p>
                <ul class="lead fa-ul" style="width:400px;margin:0 auto;text-align:left">
                  <li><i class="fa fa-check-square-o navigation-icon" aria-hidden="true" style="margin-left:5px"></i><span>Manutenção e limpeza da habitação</span></li>
                  <li><i class="fa fa-check-square-o navigation-icon" aria-hidden="true" style="margin-left:5px"></i><span>Aquisição de bens e serviços</span></li>
                  <li><i class="fa fa-check-square-o navigation-icon" aria-hidden="true" style="margin-left:5px"></i><span>Confeção de refeições</span></li>
                </ul>
              </p>
            </div>
          </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
</section>