<section id="team" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>A Equipa</h2>
        <hr class="small">
        <!--p class="lead">Sempre ao seu dispor com os melhores serviços <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p-->
        <p class="lead">A nossa equipa é constituída por profissionais com uma vasta experiência desde a área hospitalar aos cuidados domiciliários. A equipa de Enfermagem desenhará, em conjunto com o utente e sua família, um plano de cuidados individualizado de acordo com a necessidades identificadas, mobilizando recursos humanos e técnicos para uma total eficácia do plano elaborado e assim, de evitar o retrocesso ou mesmo agravamento da situação clinica do utente. Com vista a um maior acompanhamento e satisfação dos nossos utentes, a equipa de Coordenação realizará periodicamente visitas ao domicilio com a finalidade de:
            
        </p> 
        <ul class="lead fa-ul"style="width:400px;margin:0 auto;text-align:left" >
  <li><i class="fa fa-check-square-o navigation-icon" aria-hidden="true" style="margin-left:5px"></i><span>Avaliar a satisfação do utente e sua família</span></li>
  <li><i class="fa fa-check-square-o navigation-icon" aria-hidden="true" style="margin-left:5px"></i><span>Atualização do plano de cuidados</span></li>  
</ul>    

      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
